/* Estilo para la valla publicitaria */
.valla-publicitaria {
    text-align: center; /* Centra el contenido dentro del div */
    margin-top: 20px; /* Espacio superior para separar de otros contenidos */
    margin-bottom: 20px; /* Espacio inferior para separar del contenido principal */
}

.valla-publicitaria img {
    width: 100%; /* La imagen ocupará todo el ancho de la página */
    max-width: 1200px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantener la proporción de la imagen */
    border: 2px solid #000; /* Borde opcional */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para hacerlo más visible */
}
